:root {
  --mainText: #ffd700;
  --secondaryText: #fff;

  --borderColor: #c6c6c6;

  --mainColor: #161616;
  --secondaryColor: #303030;

  --themeDotBorder: #707070;

  --previewBg: #707070cc;
  --previewShadow: #757575;

  --buttonColor: #ffd700;
}

.bg1::after {
  background-color: #000;
  background-image: url("../images/bkgs/ams-bkg-blur-dark-hatch.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
